{% extends "base.html" %}
{% load static %}

{% block title %}
Academy | Clap Station 
{% endblock title %}


{% block webpage %}
<!--webpage-->
<div class="webpage page-new-profile">
<div class="container-fluid">
<div class="home-page-wrap profile-page-wrap">

<div class="row">
<div class="col-lg-9 col-md-3 col-sm-12 col-xs-12">
<div class="row">
<div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 profile-top-left-col">
	<div class="profile-top-left jamming-top-left">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="top-left-image">
					<img src="images/profile-1.png">
				</div>
			</div>
			<div class="col-lg-9 col-md-3 col-sm-12 col-xs-12">	
				<div class="top-left-dtl">
					<div class="top-left-dtl-one">
						<h1>Kumar Vivek</h1>
					</div>
					<div class="left-dtl-one-list">
						<ul>
							<li><a href="#"><img src="images/mike.png"></a></li>
							<li><a href="#"><img src="images/guitar.png"></a></li>
							<!-- <li><a href="#"><img src="images/tutor.png"></a></li> -->
						</ul>
					</div>
				</div>
				<div class="top-left-dtl-second jamming-top-left-dtl">
					<span><i class="fa fa-map-marker" aria-hidden="true"></i> Address: House No., Street, City, State, Country,1010110</span>
				</div>
				<div class="top-left-dtl-third">
					
 						<button class="cmmn-btn slowHover" type="button" data-toggle="modal" data-target="#editprofileModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Profile</button>
				
					<button class="cmmn-btn top-left-book  slowHover" type="button" data-toggle="modal" data-target="#bookModal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Book</button>

					<button class="cmmn-btn slowHover" type="button"><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
				</div>
				<!-- Modal edit-profile-modal-->
				<!-- Modal edit-profile-modal-->
					<div id="editprofileModal" class="edit-profile-modal modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h4 class="modal-title">EDIT PROFILE</h4>
					        <button type="button" class="close" data-dismiss="modal"><img src="images/cross.png"></button>
					      </div>
					      <div class="modal-body">
					        <div class="row">
					        	<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
					        		<div class="mod-image-wrap mod-comm-wrap">
					        			<div class="mod-image">
					        				<img src="images/profile-1.png" id="blah">
					        			</div>
					        			<div class="mod-btn">
					        				<div class="box">
												<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
												<label for="file-1"><i class="fa fa-cloud-upload" aria-hidden="true"></i> <span>Upload Photo</span></label>
											</div>
					        			</div>
					        		</div>
					        	</div>
					        	<div class="col-lg-8 col-md-3 col-sm-12 col-xs-12">
					        		<div class="mod-comm-wrap mod-event mod-slots">
					        			<h3>Update Info</h3>
					        			<div class="slot-left slot-category">
						        			
						        				    <div class="row">
						        				        
						        				        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						        				            <div class="row">
						        				                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mod-date mod-time">
						        							<label for="category" class="control-label">Category:</label>
						        						</div>
						        						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 mod-date mod-time">
										                	<div class='input-group ed-pr-catgy dd-lft' id='category'>
										                    	<div class="dropdown">
                        											<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        											Select
                        											</button>
                        											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox5">
															  	                <label for="checkbox5">Delhi</label>
															  	        </a>
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox6">
															  	                <label for="checkbox6">Noida</label>
															  	        </a>
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox7">
															  	                <label for="checkbox7">Gurugram</label>
															  	        </a>
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox8">
															  	                <label for="checkbox8">Ghaziabad</label>
															  	        </a>
                        											</div>
                        										</div>
										                	</div>
										            	</div>
						        				            </div>
						        				            <div class="row">
						        				                	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mod-date mod-time">
						        							<label for="subcategory" class="control-label">Sub-Category:</label>
						        						</div>
						        						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 mod-date mod-time">
										                	<div class='input-group ed-pr-catgy ed-pr-catgy-2 dd-lft' id='category'>
										                    	<div class="dropdown">
                        											<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        											Select
                        											</button>
                        											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox1">
															  	                <label for="checkbox1">Tabla</label>
															  	        </a>
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox2">
															  	                <label for="checkbox2">Guitar</label>
															  	        </a>
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox3">
															  	                <label for="checkbox3">Violin</label>
															  	        </a>
                        											    <a class="dropdown-item" href="#">
                        											        <input class="ed-pr-dd-chb" type="checkbox" id="checkbox4">
															  	                <label for="checkbox4">Flute</label>
															  	        </a>
                        											</div>
                        										</div>
										                	</div>
										            	</div>
						        				            </div>
						        				        </div>

						        				        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 budget-location-col">
						        				            <div class="row">
        						        						<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 mod-date mod-timeup">
        						        							<label for="budget" class="control-label mod-endtime">Budget:</label>
        						        						</div>
        						        						<div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mod-date">
        										                	<div class='input-group' id='budget'>
        										                    	<input type='text' class="form-control" >
        										                	</div>
        										            	</div>
										            	    </div>
										            	    <div class="row">
										            	        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 mod-date mod-time">
						        							<label for="location" class="control-label mod-endtime">Location:</label>
						        						</div>
						        						<div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mod-date mod-time">
										                	<div class='input-group' id='location'>
										                    	<input type='text' class="form-control" >
										                	</div>
										            	</div>
										            	    </div>
						        				        </div>
						        				    </div>
						        				    <div class="update-edit-btn text-center">
											        	<button class="cmmn-btn slowHover" type="button"><img src="images/mod-save.png">Update</button>
											        </div>
						        				
						        				
					        				</div>
					        		</div>
					        	</div>
					        </div>
					        <div class="mod-add-ph-vd">
					        	<div class="row">
					        		<div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
					        			<div class="mod-comm-wrap mod-add-ph">
					        				<h3>Add Photos</h3>
					        				<div class="table-responsive">
						        				<table class="mytable">
												 	<tr>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURLthis(this);">
															<label for="file-2"><img src="images/edit-profile-2.png" id="blah2"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURLbook(this);">
															<label for="file-3"><img src="images/edit-profile-2.png" id="blah3"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 	</tr>
												 	<tr>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 	</tr>
							 					</table>
							 				</div>	
							 				<div class="mod-add-ph">
							 				<div class="mod-btn">
					        				<div class="box max-width-initial">
												<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
												<label for="file-1" class="upload-new-label"><i class="fa fa-cloud-upload" aria-hidden="true"></i> <span>Upload</span></label>
											</div>
											</div>
					        			</div>
					        			</div>
					        		</div>
					        		<div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
					        			<div class="mod-comm-wrap mod-add-ph">
					        				<h3>Add Videos</h3>
					        				<div class="table-responsive">
						        				<table class="mytable">
												 	<tr>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURLthis(this);">
															<label for="file-2"><img src="images/edit-profile-2.png" id="blah2"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURLbook(this);">
															<label for="file-3"><img src="images/edit-profile-2.png" id="blah3"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 	</tr>
												 	<tr>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 		<td>
												 			<div class="box">
															<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
															<label for="file-1"><img src="images/edit-profile-2.png"></label>
															</div>
												 		</td>
												 	</tr>
							 					</table>
							 				</div>	
							 				<div class="mod-add-ph">
							 				<div class="mod-btn">
					        				<div class="box max-width-initial">
												<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" onchange="readURL(this);">
												<label for="file-1" class="upload-new-label"><i class="fa fa-cloud-upload" aria-hidden="true"></i> <span>Upload</span></label>
											</div>
											</div>
					        			</div>
					        			</div>
					        		</div>
					        	</div>
					        </div>	
					     
					    </div>
					       <!--  <div class="modal-footer">
					        	<button class="cmmn-btn slowHover" type="button"><img src="images/mod-save.png">SAVE</button>
					        </div> -->
					    </div>

					  </div>
					</div><!-- Modal edit-profile-modal-->
				<!-- Modal book-modal -->
				<div id="bookModal" class="book-modal modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      	<div class="modal-header">
				      		<h1 class="modal-title">Select Available Slot</h1>
				        	<button type="button" class="close" data-dismiss="modal"><img src="images/cross.png"></button>
				      	</div>
				      	<div class="modal-body">
				      		<div class="book-body-wrap">
					       		<div class="row">
					       			<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 book-lft-col">
					       				<div class="book-lft-wrap">
						       				<div class="lft-top">
						       					<h1>07<sup>SEPT</sup><sub>MONDAY</sub></h1>
						       				</div>
						       				<div class="lft-mddl">
						       					<p>Select Available Slots</p>
						       					<table>
						       						<tr>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark checkmark-green"></span>
															</label>
						       							</td>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark"></span>
															</label>
						       							</td>
						       						</tr>
						       						<tr>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark"></span>
															</label>
						       							</td>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark"></span>
															</label>
						       							</td>
						       						</tr>
						       						<tr>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark checkmark-green"></span>
															</label>
						       							</td>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark checkmark-green"></span>
															</label>
						       							</td>
						       						</tr>
						       						<tr>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark"></span>
															</label>
						       							</td>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark"></span>
															</label>
						       							</td>
						       						</tr>
						       						<tr>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark checkmark-green"></span>
															</label>
						       							</td>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark checkmark-green"></span>
															</label>
						       							</td>
						       						</tr>
						       						<tr>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark"></span>
															</label>
						       							</td>
						       							<td>
						       								<label class="slot-check">9am - 10am
															  	<input type="checkbox">
															  	<span class="checkmark checkmark-green"></span>
															</label>
						       							</td>
						       						</tr>
						       					</table>
						       				</div>
						       				<p class="avail"><i class="fa fa-square" aria-hidden="true"></i>Available Slot</p>			
						       				<p class="unavail"><i class="fa fa-square" aria-hidden="true"></i>Unavailable Slot</p>	

						       				<h4 class="book-left-bottom-heading text-center">Jamming Station</h4>
					       				</div>
					       			</div>
					       			<div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 book-rght-col">
					       				<div class="right-calen">
					       					<div class="calendar">
											    <div class="calendar__month">
											        <div class="cal-month__previous"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
											        <div class="cal-month__current"></div>
											        <div class="cal-month__next"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
											    </div>
											    <div class="calendar-months-list">
											        <span class="month-hover">Jan</span>
											        <span class="month-hover">Feb</span> 
											        <span class="month-hover">Mar</span> 
											        <span class="month-hover">Apr</span>
											        <span class="month-hover">May</span>
											        <span class="month-hover">Jun</span>
											        <span class="month-hover">July</span> 
											        <span class="month-hover">Aug</span> 
											        <span class="month-hover">Sep</span> 
											        <span class="month-hover">Oct</span> 
											        <span class="month-hover">Nov</span> 
											        <span class="month-hover">Dec</span>
											    </div><!-- months -->
											    <div class="calendar__head">
											        <div class="cal-head__day"></div>
											        <div class="cal-head__day"></div>
											        <div class="cal-head__day"></div>
											        <div class="cal-head__day"></div>
											        <div class="cal-head__day"></div>
											        <div class="cal-head__day"></div>
											        <div class="cal-head__day"></div>
											    </div>
											    <div class="calendar__body">
											        <div class="cal-body__week">
											            <div class="cal-body__day"></div>
											          	<div class="cal-body__day"></div>
											          	<div class="cal-body__day"></div>
											          	<div class="cal-body__day"></div>
											          	<div class="cal-body__day"></div>
											          	<div class="cal-body__day"></div>
											          	<div class="cal-body__day"></div>
											        </div>
											        <div class="cal-body__week">
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											        </div>
											        <div class="cal-body__week">
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											        </div>
											        <div class="cal-body__week">
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											        </div>
											        <div class="cal-body__week">
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											        </div>
											        <div class="cal-body__week">
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											          <div class="cal-body__day"></div>
											        </div>
											    </div>
											</div>
					       				</div>
					       			</div>
					       		</div>
					       	</div>	
				      	</div>
				      	<div class="modal-footer">
				        	<button type="button" class="cmmn-btn book-btn slowHover" data-dismiss="modal">Proceed to Pay <img src="images/proceedtopay.png"></button>
				      	</div>
				    	</div>
				  	</div><!---modal-dialog--->
				</div><!----book-modal---->
			</div>
		</div>	
	</div>
</div>
<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 profile-top-right-col">
	<div class="follow-rates academy-follow-rates">
			<table>
 			<tr>
 				<td class="follow-image"><img src="images/jamming-station-2.png"></td>
 				<td class="follow-detail">9 Operating Hours</td>
 				<td class="follow-image"><img src="images/jamming-station-3.png"> </td>
 				<td class="follow-detail">₹10 Hourly Rate</td>
 			</tr>
 			<tr>
 				<td class="follow-image"><img src="images/group.png"> 
 				<td class="follow-detail">100 Followers</td>
 				<td class="follow-image"><img src="images/academy-1.png"> </td>
 				<td class="follow-detail"> 150 Students</td>
 			</tr>
 			<tr>
 				<td class="follow-image"><img src="images/jamming-station-1.png"></td>
 				<td class="follow-detail">Rating</td>
 				<td  colspan="2" class="follow-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> </td>
 			</tr>
 			<tr>
 				<td class="follow-image"><img src="images/tutor.png"></td>
 				<td class="follow-detail">20 Teachers</td>
 				<td colspan="2" class="follow-btn"><button class="cmmn-btn slowHover" type="button"><i class="fa fa-rss" aria-hidden="true"></i>Follow Me</button></td>
 			</tr>
			</table>
			<!-- <div class="follow-btn">
 			<button class="cmmn-btn slowHover" type="button"><i class="fa fa-rss" aria-hidden="true"></i>Follow Me</button>
 			</div> -->
		</div>
</div>
<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 pf-lft-col"> 
	<div class="profile-left-area">
	 	<div class="golden-heading">
				<h3>Photos</h3>
			</div>
		<div class="profile-ph-lf-wrp">
			<div class="row">
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col photos-col-mbl">
					<div class="profile-photo-wrap">
						<img src="images/pf-photo-1.jpg">
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="profile-left-area">
	 	<div class="golden-heading">
				<h3>Videos</h3>
			</div>
		<div class="profile-ph-lf-wrp profile-vd-lf-wrp">
			<div class="row">
				<div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 videos-col">
					<div class="profile-photo-wrap profile-video-wrap">
						<iframe width="100%" height="100" src="https://www.youtube.com/embed/vNW-mTJJNts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 videos-col">
					<div class="profile-photo-wrap profile-video-wrap">
						<iframe width="100%" height="100" src="https://www.youtube.com/embed/vNW-mTJJNts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 videos-col">
					<div class="profile-photo-wrap profile-video-wrap">
						<iframe width="100%" height="100" src="https://www.youtube.com/embed/vNW-mTJJNts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 videos-col">
					<div class="profile-photo-wrap profile-video-wrap">
						<iframe width="100%" height="100" src="https://www.youtube.com/embed/vNW-mTJJNts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 videos-col">
					<div class="profile-photo-wrap profile-video-wrap">
						<iframe width="100%" height="100" src="https://www.youtube.com/embed/vNW-mTJJNts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 videos-col">
					<div class="profile-photo-wrap profile-video-wrap">
						<iframe width="100%" height="100" src="https://www.youtube.com/embed/vNW-mTJJNts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 pf-middl-col"> 
	<div class="home-middle-area acadmy-middle-area">
	 	<div class="middle-txt-area">
	 		<form action="">
				<textarea id="" name="" rows="4" cols="50" placeholder="Share your content....."></textarea>
			</form>
	 	</div>
	 	<div class="middle-text-post">
	 		<ul>
	 			<li><a href="#"><img src="images/video.png"> Live Videos</a></li>
	 			<li><a href="#"><img src="images/photo.png"> Photos/Videos</a></li>
	 			<li><a href="#"><img src="images/calendar.png"> Events</a></li>
	 			<li></li>
	 		</ul>
	 		<div class="home-middle-area-btn">
	 			<button class="cmmn-btn middle-area-btn slowHover" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Post</button>
	 		</div>
	 	</div>
	 	<div class="row">
	 		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 admy-inlft-col">
	 			<div class="admy-music-wrap">
		 			<div class="white-heading">
			 			<h3>Type of Music</h3>	
		 			</div>
		 			<div class="admy-btn">
			 			<button class="cmmn-btn admy-edit-btn slowHover" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
			 		</div>
		 			<div class="admy-music-detail">
		 				<div class="row">
		 					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		 						<div class="admy-detail-left">
			 						<ul>
			 							<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Classical</li>

			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Gayan</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Tabla</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Sitar</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Flute</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Sarod</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Others</li>
			 						</ul>
			 					</div>	
		 					</div>
		 					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		 						<div class="admy-detail-left">
			 						<ul>
			 							<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Western</li>

			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Singing</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Guitar</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Key Board</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Drums</li>
			 							<li><i class="fa fa-circle" aria-hidden="true"></i>Others</li>
			 						</ul>
			 					</div>	
		 					</div>
		 				</div>
		 			</div>
		 		</div><!--admy-music-wrap-->
		 		<div class="admy-fclty-wrap">
		 			<div class="white-heading">
			 			<h3>Type of Music</h3>	
		 			</div>
		 			<div class="admy-btn">
			 			<button class="cmmn-btn admy-edit-btn slowHover" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
			 		</div>
			 		<div class="admy-detail-left">
			 			<ul>
			 				<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Parking</li>
			 				<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Kitchen</li>
			 				<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Musical Instruments</li>
			 				<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Certifications</li>
			 				<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Online Classes</li>
			 				<li class="music-heading"><i class="fa fa-check" aria-hidden="true"></i>Others</li>
			 			</ul>
			 		</div>
		 		</div>
	 		</div><!--admy-fclty-wrap-->
	 		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 admy-inrght-col">
	 			<div class="admy-award-wrap">
	 				<div class="white-heading">
			 			<h3>Our Award Winning Students</h3>	
		 			</div>
		 			<div class="admy-btn">
			 			<button class="cmmn-btn admy-edit-btn slowHover" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
			 		</div>
	 				<div class="profile-ph-lf-wrp admy-lf-wrap">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Singing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Dancing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Singing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Dancing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Singing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Dancing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Singing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Dancing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col photos-col-mbl">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Singing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col photos-col-mbl">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Dancing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col photos-col-mbl">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Singing</span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 photos-col photos-col-mbl">
								<div class="profile-photo-wrap admy-photo-wrap">
									<img src="images/academy-girl.png">
									<span>Dancing</span>
								</div>
							</div>
						</div>
					</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="home-posts-wrap profile-posts-wrap">
	 		<div class="white-heading">
	 			<h3>Posts</h3>
	 		</div>
	 		<div class="posts-images">
	 			<img src="images/home-posts.png">
	 			<p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil 	
	 			   expetendis in mei. </p>
	 			    <ul>
		 			   	<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a></li>
		 			   	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> Rate</a></li>
		 			   	<li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> Comment</a></li>
		 			   	<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> Reshare</a></li>
		 			   	<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Report</a></li>
	 			    </ul>
	 		</div>
	 	</div>
	 	<div class="home-posts-wrap profile-posts-wrap">
	 		<div class="white-heading">
	 			<h3>Posts</h3>
	 		</div>
	 		<div class="posts-images">
	 			<img src="images/home-posts.png">
	 			<p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil 	
	 			   expetendis in mei. </p>
	 			    <ul>
		 			   	<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a></li>
		 			   	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> Rate</a></li>
		 			   	<li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> Comment</a></li>
		 			   	<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> Reshare</a></li>
		 			   	<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Report</a></li>
	 			    </ul>
	 		</div>
	 	</div>
	 	<div class="home-posts-wrap profile-posts-wrap">
	 		<div class="white-heading">
	 			<h3>Posts</h3>
	 		</div>
	 		<div class="posts-images">
	 			<img src="images/home-posts.png">
	 			<p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil 	
	 			   expetendis in mei. </p>
	 			<ul>
		 			<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a></li>
		 			<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> Rate</a></li>
		 			<li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> Comment</a></li>
		 			<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> Reshare</a></li>
		 			<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Report</a></li>
	 			</ul>
	 		</div>
	 	</div>
	</div>
</div>
</div>	
</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-6 pf-rght-col">


			<div class="home-right-area pf-events">
			<div class="atnd-events">
				<div class="golden-heading">
						<h3>Attending Events</h3>
					</div>
					<div class="home-contact-dtl">
						<table>
			 			<tr>
			 				<td> <img src="images/calendar.png"> </td>
			 				<td><a href="#"> 14th Aug: Sandeep's Jam Room</a></td>
			 			</tr>
			 			<tr>
			 				<td> <img src="images/calendar.png"> </td>
			 				<td><a href="#"> 22nd Aug: Rahul's Table Event</a></td>
			 			</tr>
			 			<tr>
			 				<td> <img src="images/calendar.png"> </td> 
			 				<td><a href="#"> 1st Sept: Band 1 Event</a></td>
			 			</tr>
			 			<tr>
			 				<td> <img src="images/calendar.png"> </td> 
			 				<td><a href="#"> 21st Sept: Band 2 Event</a></td>
			 			</tr>
						</table>
					</div>
			</div>
			<div class="home-advts">
				<div class="golden-heading">
						<h3>Advertisements</h3>
					</div>
					<div class="right-image">
						<img src="images/home-advs.png">
					</div>
			</div>

			<div class="profile-right-area">
				 <div class="golden-heading">
						<h3>Friends</h3>
					</div>
				<div class="profile-ph-lf-wrp">
					<div class="row">
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 photos-col photos-col-mbl">
							<div class="profile-photo-wrap">
								<img src="images/pf-photo-1.jpg">
								<span>Friend Name</span>
							</div>
						</div>
					</div>
				</div>	
			</div>	
			</div>
			</div>
</div>
</div>
</div>	
</div><!--webpage-->
<!--scroll-to-top--> 
<a id="scrollToTop" class="scroll-hide" href=""><i class="fas fa-chevron-up"></i></a> 
<!--scroll-to-top-->
</div><!--website-wrap-->
</div><!--website-wrap-overlay-->
</div>
{% endblock webpage %}

{% block JS %}
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/datelocal.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/custom.js" type="text/javascript"></script>

<script type="text/javascript">
$(function () {
$('.toggle-menu').click(function(){
$('.exo-menu').toggleClass('display');
});
});
$(document).ready(function(){
$(".toggle-menu").click(function(){
$(".mobile-close").show(400);
});
$(".mobile-close").click(function(){
$(".exo-menu").removeClass('display');
$(this).hide(400);
});
});
</script>
<script type="text/javascript">
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('#blah')
.attr('src', e.target.result);
};

reader.readAsDataURL(input.files[0]);
}
}
function readURLthis(input){
if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('#blah2')
.attr('src', e.target.result);
};

reader.readAsDataURL(input.files[0]);
}
}
function readURLbook(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('#blah3')
.attr('src', e.target.result);
};

reader.readAsDataURL(input.files[0]);
}
}
</script>
<script type="text/javascript">
$(function () {
$('#datetimepicker1').datetimepicker({
format: 'L'
});
});
</script>
<script type="text/javascript">
$(function () {
$('#datetimepicker2').datetimepicker({
format: 'LT'
});
});
</script>
<script type="text/javascript">
$(function () {
$('#datetimepicker3').datetimepicker({
format: 'LT'
});
});
</script>
{% endblock JS %}
