{% extends "base.html" %}
{% load static %}

{% block title %}
Groups | Clap Station
{% endblock title %}

{% block webpage %}

<!--webpage-->
<div class="webpage page-artist" style="margin-top: 80px;">
	<div class="container">
		<div class="artist-top-strip">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 artist-title-col">
					<div class="group-crte-btn">
						<button class="cmmn-btn slowHover" type="button" data-toggle="modal"
							data-target="#createagroupModal"><img src=" {% static 'images/groups-1.png' %}"> Create a
							Group</button>
					</div>
					<div id="createagroupModal"
						class="edit-profile-modal edit-a-group-modal create-a-group-modal modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->

							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">CREATE A GROUP</h4>
									<button type="button" class="close" data-dismiss="modal"><img
											src="{% static 'images/cross.png' %}"></button>
								</div>
								<div class="modal-body">
									<form action="{% url 'groups' %}" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="mod-image-wrap mod-comm-wrap">
													<!-- <div class="mod-image">
														<img src=" {% static 'images/pf-photo-1.jpg' %}" style="height: 350px; width: 350px;" id="blah">
													</div> -->
													<div class="mod-btn">
														<div class="box">
															<input type="file" name="file-1" id="file-1"
																class="inputfile inputfile-1"
																data-multiple-caption="{count} files selected"
																multiple="" onchange="readURL(this);">
															<label for="file-1"><i class="fa fa-cloud-upload"
																	aria-hidden="true"></i> <span>Upload
																	Photo</span></label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="mod-comm-wrap mod-event">
													<h3 style="color: white;">Add Details</h3>
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="mod-event-table">
																<table style="width:100%;">
																	<tr>
																		<td>
																			<div class="mod-input-area">

																				<input type="text"
																					placeholder="Group Name"
																					name="groupname">
																			</div>
																		</td>
																	</tr>
																	<br>
																	<tr>
																		<td>
																			<div class="mod-input-area">

																				<textarea type="text"
																					placeholder="Description"
																					name="Description"></textarea>
																			</div>
																		</td>


																	</tr>

																</table>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>


										<div class="modal-footer">
											<button class="cmmn-btn slowHover" type="submit"><img
													src="{% static 'images/mod-save.jpg' %}" alt="">SAVE</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div><!-- Modal edit-profile-modal-->
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 artist-title-col">
					<div class="artist-title">
						<h1 style="color: white;">Groups</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="artist-box-wrap">
			<div class="row">
				<div id="editprofileModal" class="edit-profile-modal edit-a-group-modal modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->

						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Edit A GROUP</h4>
								<button type="button" class="close" data-dismiss="modal"><img
										src="{% static 'images/cross.png' %}"></button>
							</div>
							{% for obj in creategrouppage %}
							<div class="modal-body">
								<div class="row">
								<form action="{% url 'groupupdate' obj.id %}"  method="post" enctype="multipart/form-data">
									{% csrf_token %}
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="mod-image-wrap mod-comm-wrap">
												<!-- <div class="mod-image">
													<img src=" {% static 'images/pf-photo-1.jpg' %}" style="height: 350px; width: 350px;" id="blah">
												</div> -->
												<div class="mod-btn">
													<div class="box">
														<input type="file" name="file-1" id="file-1" value="{{obj.image}}"
															class="inputfile inputfile-1"
															data-multiple-caption="{count} files selected"
															multiple="" onchange="readURL(this);">
														<label for="file-1"><i class="fa fa-cloud-upload"
																aria-hidden="true"></i> <span>Upload
																Photo</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="mod-comm-wrap mod-event">
												<h3 style="color: white;">Edit Details</h3>
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="mod-event-table">
															<table style="width:100%;">
																<tr>
																	<td>
																		<div class="mod-input-area">

																			<input type="text"
																				placeholder="Group Name"
																				name="groupname"value="{{obj.groupname}}">
																		</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<div class="mod-input-area">

																			<textarea type="text"
																				placeholder="Description"
																				name="Description" value="{{obj.description}}"></textarea>
																		</div>
																	</td>


																</tr>

															</table>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>


									<div class="modal-footer">
										<button class="cmmn-btn slowHover" type="submit"><img
												src="{% static 'images/mod-save.jpg' %}" alt="">update</button>
									</div>

								</form>
							</div>
							{% endfor %}
						</div>

					</div>
				</div>
				{% for obj in creategrouppage %}
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 artist-title-col">
					<div class="artist-box-wrap-in">
						<br>
						<div class="white-heading">
							<h3>{{obj.groupname}}</h3>
						</div>
						<!-- <div class="admy-btn">
							-
				 				<button class="cmmn-btn slowHover" type="button" data-toggle="modal" data-target="#editprofileModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
				 			</div> -->
						<div class="posts-images artist-img">
							<img src="/media/{{obj.image}}" style="height: 300px; width: 360px;">
							<p>{{obj.description}}</p>
							<ul>
								<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> </a></li>
								<!-- <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li> -->
								<li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
								<li><a href="{% url 'groupedit' obj.id %}"><i class="fa fa-edit" type="button" data-toggle="modal"
											 aria-hidden="true"></i></a></li>
								<!-- <li><a href="#"><i class="fa fa-edit" type="button" data-toggle="modal" data-target="#editprofileModal" aria-hidden="true"></i></a></li> -->
								<li><a href="/groupdelete/{{obj.id}}"><i class="fa-solid fa-delete-left"
											aria-hidden="true">delete</i></a></li>
							</ul>
						</div>
					</div>
				</div>

				{% endfor %}

			
		</div>
	</div>
</div><!--webpage-->


<!--scroll-to-top-->
	<br>
<!--scroll-to-top-->
</div><!--website-wrap-->
{% endblock webpage %}

{% block JS %}
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/datelocal.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/custom.js" type="text/javascript"></script>


<script type="text/javascript">
	$(function () {
		$('.toggle-menu').click(function () {
			$('.exo-menu').toggleClass('display');
		});
	});
	$(document).ready(function () {
		$(".toggle-menu").click(function () {
			$(".mobile-close").show(400);
		});
		$(".mobile-close").click(function () {
			$(".exo-menu").removeClass('display');
			$(this).hide(400);
		});
	});
</script>
<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker({
			format: 'L'
		});
	});
</script>
<script type="text/javascript">
	$(function () {
		$('#datetimepicker2').datetimepicker({
			format: 'LT'
		});
	});
</script>
<script type="text/javascript">
	$(function () {
		$('#datetimepicker3').datetimepicker({
			format: 'LT'
		});
	});
</script>
{% endblock JS %}



