{% extends "base.html" %}
{% load static %}

{% block title %}
Login | Clap Station
{% endblock title %}


{% block webpage %}

	<!--website-wrap-->
<div class="website-wrap login-page">
<div class="page-back">
<!--page-black-overlay-->	
<div class="page-black-overlay">
	<div class="main-login-wrap">
		<div class="container">
		<div class="row">
			 <div class="col-lg-6 col-md-6 col-sm-12 col-12">
			 	<div class="login-logo-img">	 		
			 		<a href="index.html"><img src="images/logo.png"></a>
			 	</div>
			 </div>
			 <div class="col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="login-detail-wrap">
					<span class="login-circle">LOGIN</span>
					<div class="login-detail-in">
						<form class="form" method="POST">
							<h3 id="error" style="color:red"></h3>
						   {% csrf_token %}
						   <div class="styled-input agile-styled-input-top">
							   <input type="text" placeholder="Email Address or Phone Number" name="username" id="username" required="">
						   </div>
						   <div class="styled-input">
							   <input type="password" placeholder="Password" name="password" id="password" required="">
						   </div>
						   <div class="clap-cmmn-btn">
						   <input class="login-btn slowHover" value="Login" type="submit"onclick="login()">
						   </div>
						   <div class="regtr-btn">
								 <a class="create-account-btn slowHover" type="button" href="{% url 'signup' %}">Create New Account</a>
						   </div>
					   </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--webpage-->
	<div class="webpage page-new-home">
	</div><!--webpage-->
<!--scroll-to-top--> 
<a id="scrollToTop" class="scroll-hide" href=""><i class="fas fa-chevron-up"></i></a> 
<!--scroll-to-top-->
</div><!--website-wrap-->
</div><!--website-wrap-overlay-->
</div>

{% endblock webpage %}

{% block JS %}
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/custom.js" type="text/javascript"></script>
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock JS %}